.cotnenido{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(65, 190, 244);
    background-color:rgba(142, 238, 252, 0.5);
    background: #666565;
    border-top: 3px solid #00fbff;
    background-color:#89ccdb;
    color: rgb(20, 96, 146) !important;
    color: #34495e;
    background-Color: #00ccff;
    border-Color:#007b00;
}